* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: Helvetica;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
}
.contenido{
    margin: auto;
    text-align: center;
    width: 1200px;
}
.margen{
    padding: 15px;
}
.contenedor_menu{
    background-color: rgba(211, 211, 199, 0.983);
}
.h1{
    text-align: center;
}