*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}
.ancho{
    max-width: 1200px;
    margin: auto;
    border: 1px solid #ccc;
}
.margen{
    padding: 15px;
}
h1{
    text-align: center;
}
.borde{
    border: 1px solid #ccc;
}
.logo{
    display: block;
    margin: 20px auto;
    width: 150px;
    object-fit: cover;
}