*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-family: Helvetica;
}

.titulo{
    margin: 0 auto;
    text-align: center;
    background-color: #c62e2e;
    font-size: large;
    color: #fff;
    padding: 20px;

}

.subtitulo{
    font-weight: bold;
}
.contenido{
    margin: 0 auto;
    width: 60%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.menu{  
    display: block;
    width: 40%;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(62, 70, 70);
    border-radius: 10px;
    font-size: large;
}

.opciones {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(201, 169, 146);
}

html{
    scroll-behavior: smooth;
}

